---
---

<section class="whitespace-nowrap overflow-x-hidden bg-violet-600 text-white py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 ">
        <span>Se Pierres fotografier</span>
        <span>Pierres berømmelse</span>
        <span>Fotoeksperimenter</span>
        <span>Analog fotografiering</span>
        <span>Glitch art</span>
        <span>Lomografi</span>
        <span>Stock fotos</span>
        <span>En ny begyndelse</span>
        <span>Lidt i fem</span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 " aria-hidden="true">
        <span>Se Pierres fotografier</span>
        <span>Pierres berømmelse</span>
        <span>Fotoeksperimenter</span>
        <span>Analog fotografiering</span>
        <span>Glitch art</span>
        <span>Lomografi</span>
        <span>Stock fotos</span>
        <span>En ny begyndelse</span>
        <span>Lidt i fem</span>
    </div>
</section>

<!-- 
<div class="pb-20 md:pb-12 md:pt-6 md:px-8">
    <div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full text-black bg-white z-50" id="navbar">
      <div id="navbar" class="md:fixed md:right-20">
        <button id="burgermenu" class="" x-on:click="showmenu = ! showmenu"
          ><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 mr-4">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5"></path>
          </svg>
        </button>
      </div>


      <nav id="mobilmenu" class="lg:static flex flex-col content-center fixed right-20 pt-4 bg-white" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
        <ul class="z-50">
          <li class="text-left py-2 hover:underline"><a href="/index">Forside</a></li>
          <li class="text-left py-2 hover:underline"><a href="/deltag">Sådan deltager du</a></li>
          <li class="text-left py-2 hover:underline"><a href="/registrerditbidrag">Registrer dit bidrag</a></li>
        </ul>
      </nav>
    </div>
  </div> -->


<!-- 
  <script>
    window.addEventListener("scroll", function () {
      console.log(window.scrollY);
      let navbar = document.getElementById("navbar");
      if (this.window.scrollY > 6) {
        navbar.classList.add("hidden");
      }
      if (this.window.scrollY < 6) {
        navbar.classList.remove("hidden");
      }
    });
  </script>
   -->
