---
---

<section class="whitespace-nowrap overflow-x-hidden bg-pink-800 text-white py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 ">
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 " aria-hidden="true">
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
        <span>txt</span>
    </div>
</section>
